.whiteMenuText{
    -fx-text-fill:white;
    -fx-font-size: 30px;
    -fx-effect: dropshadow 10px 10px 5px; //Funkar tydligen inte men går att lösa på annat sätt!
}

.menuButton{
    -fx-background-color:#3254CD;
    -fx-background-radius:10;
}

.menuButton:hover{
    -fx-background-color:#516BC9; //färg kanske ska ändras lite
}