@font-face{
    font-family:"Baloo Bhai";
    src: url(fonts/BalooBhai-Regular.ttf);
    font-style: normal;
    font-weight: 20;

}

.background{
    -fx-background-image: url(images/MemoryShapeBackgroundFade.PNG);
    -fx-background-size: 100% 100%;
}



.whiteMenuText{
    -fx-text-fill: white;
    -fx-font-size: 36;
    -fx-font-family:"Baloo Bhai";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
}

.modeText{
  -fx-text-fill: #ffffff;
  -fx-font-size: 56;
  -fx-font-family:"Baloo Bhai";
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
  -fx-text-align: center;
}

.boardAnchorPane{
   -fx-background-color: #3254CD;
   -fx-background-radius: 30;
   -fx-border-radius: 10px;
}

.card_NoPliancy{
   -fx-background-color: white;
   -fx-background-radius: 10;
   -fx-border-radius: 5px;
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);

}

.card_Default{
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-border-radius: 5px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);

}

.card_Default:hover{
    -fx-background-color:#b3b3b3;
}

.card_Default:pressed{
  -fx-background-color:#595757;
}

.card_Green{
    -fx-background-color: #73ba70;
    -fx-background-radius: 10;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);

}

.card_Red{
    -fx-background-color: #c75a5a;
    -fx-background-radius: 10;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);

}

.optionsButton:hover{
    -fx-background-color: #808080;
    -fx-opacity: 0.3;
}

/**
Har ingen hover effect
 */
.displaySelectedCard{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);

}

.titleText{
  -fx-text-fill:#3254CD;
  -fx-font-size:96;
  -fx-font-family :"Baloo Bhai";
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
  -fx-stroke: #ffffff;
  -fx-stroke-width:5;
  -fx-fill: #3254CD;

}

.buttonMode{
  -fx-background-color: #ffffff;
  -fx-background-radius:10;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
}

.leaderBoard{
    -fx-background-color: #ffffff;
    -fx-background-radius:10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
}


.buttonMode:hover{
 -fx-background-color:#99ccff;
}

.buttonMode:pressed{
 -fx-background-color:#45ACA5;
}

.color{
  -fx-background-color:#45ACA5;
  -fx-background-radius:10;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
}


.backButton{
  -fx-background-radius:25;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
  -fx-background-color: #DC143C;
}

.backButton:hover{
 -fx-background-color:red;
 -fx-padding: 10px 24px;
}

.backButton:pressed{
 -fx-background-color: #8B0000;
 -fx-padding: 10px 24px;
}




.fowardButton{
  -fx-background-radius:25;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
  -fx-background-color: #67DD6C;
  }

.fowardButton:hover{
  -fx-background-color:#00FF00;
  -fx-padding: 10px 24px;
}

.fowardButton:pressed{
   -fx-background-color:#006400;
   -fx-padding: 10px 24px;
}

.backForwardText{
 -fx-text-fill:#3254CD;
 -fx-font-size: 40;
 -fx-font-family :"Baloo Bhai";
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
 -fx-stroke: #ffffff;
 -fx-stroke-width:3;
 -fx-fill: #3254CD;
}




.outline.logoText .text{
    -fx-fill:lightseagreen;
    -fx-stroke: firebrick;         //Inte listat ut hur man gör stroke
    -fx-stroke-width:10px;
}

.menuButton{
    -fx-background-color:#3254CD;
    -fx-background-radius:10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
}

.menuButton:hover{
    -fx-background-color:#4665D2;
}

.menuButton:pressed{
    -fx-background-color:#2D4BB8;
}

.logo{
  -fx-fill:#45aca5;
  -fx-stroke: #ffffff;
  -fx-stroke-width:5;

}

.optionsmenu{
    -fx-background-color:#808080;
    -fx-opacity: 0.0;
}
.optionsmenu:hover{
    -fx-opacity: 0.3;
}

.optionsButton{
  -fx-background-color:#3254CD;
  -fx-border-width: 2px;
  -fx-border-radius: 2px;
  -fx-background-radius: 2px;
}

.optionsButton:hover{
 -fx-background-color:#4665D2;
}

.optionsButton:pressed{
  -fx-background-color:#2D4BB8;
}

.transparentBackground{
 -fx-background-color: rgba(0, 0, 0, 0.75);
}

.label{
  -fx-text-fill: #3254CD;
  -fx-font-size: 28;
  -fx-font-family:"Baloo Bhai";
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0.0, 4);
  -fx-text-align: center;

}


.outline.label .text {
    -fx-fill: #3254CD ;
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2px;
}